body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #eef9bf;
}

.title {
  width: 100%;
  height: 63px;
  margin-top: 40px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  font-weight: 700;
  color: #75b79e;
}

.site-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/* IMPLEMENTADO NO JAVASCRIPT */
img {
  width: 100px;
  height: 100px;
}

.card {
  width: 117px;
  height: 146px;
  position: relative;
  margin: 17px;
}

.body-card {
  position: absolute;
  width: 117px;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a7e9af;
  border: 1px solid #99cea8;
  border-radius: 5px;
}
